<?xml version="1.0" encoding="UTF-8" ?>
<configuration>


    <springProperty scope="context" name="appName" source="spring.application.name" />
    <springProperty scope="context" name="level" source="logback.level" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p [%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId}] %C.%M\(%L\) -%m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./log/${appName}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./log/${appName}-%d{yyyyMMdd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d [%t] %-5p [%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId}] %C.%M\(%L\) -%m%n</Pattern>
        </layout>
    </appender>

    <logger name="com.kline.see" level="${level}" >
        <!--        <appender-ref ref="kafkaAppender"/>-->
    </logger>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
